modules = ["bash", "python-3.8", "web", "nodejs-20", "python-3.10", "python-3.12", "python-base-3.13", "docker"]
run = "node index.js"

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "libxcrypt", "pkg-config", "qhull", "tcl", "tk", "xsimd"]

[deployment]
run = ["sh", "-c", "node index.js"]
